.wrapper {
  width: 100%;
  display: flex;
  padding: 15px 35px;
  justify-content: space-between;
}

.custom_class {
  justify-content: center;
}

@media (max-width: 1315px) {
  .wrapper {
    padding: 15px 20px;
  }
}

@media (max-width: 430px) {
  .wrapper {
    padding: 15px 10px;
  }
}

@media (max-width: 360px) {
  .wrapper {
    padding: 15px 2px;
  }
}
