.card_wrapper {
  width: 120px;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.card_wrapper p {
  text-align: left;
  font-size: 1em;
  padding: 5px 5px 5px 8px;
}

.card_wrapper i {
  font-size: 3em;
  width: 100px;
  margin-top: 5px;
}

.card_wrapper figcaption {
  font-size: 0.9em;
  padding-bottom: 5px;
}
