.card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.card_wrapper h3 {
  font-size: 1em;
  width: 45px;
}

.card_wrapper p {
  width: 55px;
  text-align: center;
}

.card_wrapper .temps {
  display: flex;
  align-items: center;
}

.card_wrapper .wind,
.card_wrapper img {
  width: 70px;
}

@media (max-width: 480px) {
  .card_wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 4.6px;
    border-top: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    gap: 30px;
    margin-bottom: 20px;
  }

  .card_wrapper:first-child {
    border-left: none;
  }
}

@media (max-width: 428px) {
  .card_wrapper {
    padding: 0 2px;
  }
}

@media (max-width: 390px) {
  .card_wrapper {
    font-size: 12px;
  }

  .card_wrapper h3 {
    text-align: center;
  }

  .card_wrapper img {
    width: 50px;
  }
}

@media (max-width: 380px) {
  .card_wrapper .temps {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card_wrapper .wind {
    width: 67px;
  }
}
