.search_wrapper {
  display: flex;
  margin: 0 20px 20px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.search_wrapper input {
  width: 300px;
  padding: 15px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  margin-right: 30px;
}

.search_wrapper input::placeholder {
  color: #fff;
}

.search_wrapper i {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  left: 270px;
}

i .icon {
  margin-top: 5px;
}

.search_wrapper ul {
  list-style-type: none;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  width: 100%;
  top: 90%;
  z-index: 999;
}

.search_wrapper ul li {
  padding: 12px 0 12px 10px;
  cursor: pointer;
  background-color: #1f242d;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.search_wrapper ul li:hover {
  background-color: #888;
}
