.wrapper {
  position: relative;
}

.search_input {
  width: 300px;
  padding: 15px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}

.search_input::placeholder {
  color: #fff;
}

.search_icon {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  left: 270px;
  bottom: 21%;
  pointer-events: none;
}

.suggestions {
  list-style-type: none;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  width: 100%;
  top: 90%;
  z-index: 999;
}

.suggestions li {
  padding: 12px 0 12px 10px;
  cursor: pointer;
  background-color: #1f242d;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.suggestions li:hover {
  background-color: #888;
}

.message {
  position: absolute;
  left: 310px;
  top: 0;
  width: 500px;
  letter-spacing: 2px;
  text-align: center;
  padding: 11px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  background-color: rgba(238, 25, 25, 0.4);
  backdrop-filter: blur(2px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.message.show {
  opacity: 1;
}

.message.hide {
  opacity: 0;
}

/*Custom Class */
.denied-permission {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.denied-permission .search_input {
  width: 80%;
  font-size: 18px;
  padding: 35px 35px;
}

.denied-permission .search_input::placeholder {
  font-size: 18px;
}

.denied-permission .search_icon {
  position: relative;
  top: 65px;
  left: 37%;
  font-size: 19px;
}

.denied-permission .suggestions {
  width: 80%;
}

.denied-permission .message {
  position: relative;
  width: 80%;
  left: 0;
}
